# Created by https://www.toptal.com/developers/gitignore/api/premake-gmake
# Edit at https://www.toptal.com/developers/gitignore?templates=premake-gmake

### premake-gmake ###
Makefile
*.make
obj/
bin/
out.txt

# End of https://www.toptal.com/developers/gitignore/api/premake-gmake
unsafe-out.txt
screenshots/